<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-container">
    <label for="username">Username</label>
    <input type="text"
           id="username"
           name="username"
           class="form-field"
           placeholder="Enter username"
           required
           [formControl]="form.controls.username">

    <label for="password">Password</label>
    <input type="text"
           id="password"
           name="password"
           class="form-filed"
           placeholder="Input your password"
           required 
           [formControl]="form.controls.password">

    <button type="submit" class="login">Login</button>
</form>